@model CreateUserViewModel
@inject RoleManager<IdentityRole> rolemanager;
@{
    ViewData["Title"] = "Create Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Admin</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RePassword" class="control-label"></label>
                <input asp-for="RePassword" class="form-control" />
                <span asp-validation-for="RePassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <select class="form-control" asp-for="Role">
                    @foreach (var item in rolemanager.Roles.ToList())
                    {
                        <option value="@item.Name">@item.Name</option>
                    }
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

